/********************* Font Import *********************/
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
*, *::before, *::after {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

html {
  font-size: 100%;
}

body {
  box-sizing: border-box;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

form > button {
  cursor: pointer;
}

em {
  font-style: normal;
}

b {
  font-weight: normal;
}

body {
  font-family: "Open Sans", sans-serif;
}

.nav-link {
  font-size: 0.875rem;
}

.heading-primary {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  text-align: center;
  font-size: clamp(1.4rem, 1.09rem + 1.32vw, 1.75rem);
  line-height: 1.5;
}

.heading-secondary {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  text-align: center;
  font-size: clamp(1.05rem, 0.65rem + 1.69vw, 1.5rem);
}

.btn {
  font-family: "Raleway", sans-serif;
  text-align: center;
}

.btn-form {
  font-size: 1rem;
  font-weight: 700;
}

.btn-information {
  color: hsl(170, 45%, 43%);
  font-size: 0.9375rem;
}

.testimonial-text {
  font-size: 0.8125rem;
  line-height: 1.8;
}
.testimonial-text i {
  font-size: 1.5rem;
}

.customer-name {
  font-family: "Raleway", sans-serif;
  font-size: 0.875rem;
  font-weight: 700;
}

.customer-occupation {
  font-size: 0.75rem;
}

.cta-information {
  text-align: center;
}

@media (min-width: 50em) {
  .heading-primary {
    font-size: clamp(1.75rem, 0.61rem + 2.27vw, 2.38rem);
  }
  .hero-text, .information-text {
    font-size: clamp(1rem, 0.41rem + 1.18vw, 1.25rem);
    line-height: 1.7;
  }
  .heading-secondary {
    text-align: left;
  }
  .cta-information {
    text-align: left;
  }
}
@media (min-width: 60em) {
  .nav-link {
    font-size: clamp(0.88rem, 0.02rem + 1.43vw, 1.13rem);
  }
  .heading-primary, .hero-text, .cta-text {
    text-align: left;
  }
  .heading-secondary {
    font-size: clamp(1.5rem, -0.21rem + 2.86vw, 2rem);
  }
  .cta-text {
    font-size: clamp(1rem, 0.75rem + 0.42vw, 1.13rem);
  }
}
@media (min-width: 71.25em) {
  .testimonial-text {
    font-size: 1.125rem;
  }
  .testimonial-text i {
    font-size: 2.3rem;
  }
  .customer-name {
    font-size: 1rem;
  }
  .customer-occupation {
    font-size: 0.9375rem;
  }
  .btn-information {
    font-size: 1.125rem;
  }
  .footer_nav-link, .site-address_link {
    font-size: clamp(1rem, 0.69rem + 0.43vw, 1.13rem);
  }
}
button.btn {
  padding-block: 0.7rem;
  border: none;
  border-radius: 5px;
  background-color: hsl(224, 93%, 58%);
  color: white;
  transition: 0.3s all ease-out;
}
button.btn:hover, button.btn:focus {
  background-color: rgba(48, 101, 248, 0.7);
}

.btn-information:hover, .btn-information:focus {
  color: rgba(60, 159, 143, 0.6);
}

.footer_nav-link, .footer_nav-item {
  transition: 0.3s all ease-out;
}

.footer_nav-link:hover, .footer_nav-link:focus, .footer_nav-social .footer_nav-item:hover, .footer_nav-social .footer_nav-item:focus {
  color: hsl(224, 93%, 58%);
}

.header {
  padding: 3.5rem min(10%, 1.5rem);
}
.header-logo {
  flex-basis: 25%;
  margin-right: auto;
}
.header-logo_img {
  width: 100%;
}

.nav-container {
  display: flex;
}

.nav-item {
  flex-basis: 20%;
  text-align: center;
}

@media (min-width: 50em) {
  .header-logo {
    flex-basis: 15%;
  }
}
@media (min-width: 60em) {
  .header {
    padding-inline: 3.5rem;
  }
  .nav-container {
    justify-content: end;
    align-items: center;
    gap: 10%;
  }
  .header-logo {
    flex-basis: min(15%, 10rem);
  }
  .nav-item:not(:first-of-type) {
    flex-basis: unset;
  }
}
.section-hero {
  padding: 3.5rem min(10%, 2.5rem);
  text-align: center;
}

.heading-primary {
  margin-bottom: 1.5rem;
}

.hero-img_container {
  margin-bottom: 2rem;
}

.hero-img {
  width: 100%;
}

.hero-text {
  margin-bottom: 1.5rem;
}

.input-email {
  width: min(100%, 30rem);
  padding: 0.7rem;
  margin-bottom: 1rem;
  border-radius: 5px;
  border: 1px solid black;
}

.btn-form {
  width: min(100%, 30rem);
  box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.2);
}

@media (min-width: 60em) {
  .section-hero {
    padding-inline: 3.5rem;
  }
}
@media (min-width: 71.25em) {
  .hero-info > * {
    max-width: 40rem;
  }
}
:root {
  --horizontal-spacing: 6rem;
}

.section-information {
  padding-block: 2rem var(--horizontal-spacing);
  margin-top: var(--horizontal-spacing);
  background-color: hsl(240, 75%, 98%);
  position: relative;
}
.section-information::before {
  content: "";
  width: 100%;
  height: calc(var(--horizontal-spacing));
  display: block;
  position: absolute;
  top: calc(var(--horizontal-spacing) * -1);
  left: 0;
  background: url("../images/bg-curve-mobile.svg") bottom left/100% no-repeat;
}

.information-img_container, .heading-secondary {
  padding-inline: min(10%, 2.5rem);
}

.illustration {
  width: 100%;
}

.heading-secondary {
  margin-block: 3.5rem 2rem;
}

.information-text {
  padding-inline: min(10%, 1.5rem);
  margin-block: 2rem;
}

.btn-information {
  width: max-content;
  display: block;
  padding-bottom: 5px;
  margin: 3rem auto;
  border-bottom: 2px solid;
  transition: 0.3s all ease-out;
}

.btn-information i {
  margin-left: 0.5rem;
}

.testimonial {
  width: min(85%, 22.5rem);
  padding: 1.5rem;
  margin: 0 auto;
  border-radius: 5px;
  box-shadow: 0 0 3px 0.5px rgba(0, 0, 0, 0.05);
  background-color: white;
}
.testimonial-text {
  margin-bottom: 1.5rem;
}
.testimonial-text i {
  display: block;
  margin-bottom: 0.5rem;
}

.customer-img {
  max-width: 2.5rem;
  border-radius: 50%;
  margin-right: 0.5rem;
}
.customer-information {
  display: inline-block;
  vertical-align: 20%;
}
.customer-information > * {
  display: block;
}
.customer-name {
  margin-bottom: 5px;
}

@media (min-width: 50em) {
  .section-information::before {
    background-image: url("../images/bg-curve-desktop.svg");
  }
  .information-img_container, .heading-secondary, .information-text {
    padding-left: 3.5rem;
  }
  .heading-secondary, .information-text {
    padding-right: 0;
  }
  .testimonial {
    margin-left: 3.5rem;
  }
  .btn-information {
    margin-top: 1.5rem;
    margin-left: 3.5rem;
  }
}
@media (min-width: 71.25em) {
  :root {
    --horizontal-spacing: 10rem;
  }
  .information-text {
    max-width: 47.5rem;
  }
  .testimonial {
    width: min(80%, 26.25rem);
    padding: 2rem;
  }
}
.section-cta {
  padding: 3.5rem min(10%, 2.5rem);
  background: hsl(238, 22%, 44%);
  color: white;
}
.section-cta .heading-secondary {
  margin-top: unset;
}
.section-cta :is(.input-email, .btn-form) {
  width: min(80%, 400px);
  display: block;
  margin-inline: auto;
  border-radius: 2px;
}
.section-cta .btn-form {
  font-size: 0.8125rem;
}

.cta-information {
  margin-bottom: 1rem;
}

@media (min-width: 60em) {
  .section-cta {
    padding-inline: 3.5rem;
  }
}
@media (min-width: 71.25em) {
  .cta-text {
    width: min(80%, 35rem);
  }
}
.footer {
  padding: 3.5rem min(10%, 2.5rem);
  background-color: hsl(243, 87%, 12%);
  color: white;
}
.footer-logo {
  filter: brightness(0) invert(1);
}

.site-address {
  margin-block: 2rem;
}
.site-address_icon {
  margin-right: 1rem;
}
.site-address_link {
  vertical-align: 15%;
}

.footer_nav-pages {
  margin-bottom: 4rem;
}

.footer_nav-pages .footer_nav-item:not(:last-child) {
  margin-bottom: 1.5rem;
}

.footer_nav-social {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 2rem;
}

.footer_nav-social > * {
  position: relative;
}
.footer_nav-social > *::after {
  content: "";
  width: 2rem;
  height: 2rem;
  display: block;
  background: transparent;
  border: 2px solid white;
  border-radius: 50%;
  position: absolute;
  inset: 50%;
  transform: translate(-50%, -50%);
}

@media (min-width: 60em) {
  .footer {
    padding-inline: 3.5rem;
  }
}
@media (min-width: 71.25rem) {
  .footer {
    display: flex;
    justify-content: space-between;
  }
  .footer-nav {
    margin-top: 5.25rem;
    flex-basis: 70%;
    display: flex;
    justify-content: start;
    gap: 5%;
  }
  .footer_nav-pages {
    flex-basis: 20%;
    margin-bottom: unset;
    display: flex;
    flex-direction: column;
  }
  .footer_nav-social {
    flex-basis: 20%;
  }
  .footer_nav > * {
    flex-basis: 30%;
  }
  .footer_nav-social > * {
    align-self: flex-start;
  }
}
@media (min-width: 50em) {
  .get-started {
    display: flex;
    justify-content: center;
    gap: 2rem;
  }
  .get-started .input-email {
    margin: unset;
    flex-basis: 60%;
  }
  .get-started .btn-form {
    flex-basis: 25%;
  }
}
@media (min-width: 60em) {
  .get-started {
    justify-content: space-between;
  }
  .get-started .input-email {
    flex-basis: 72%;
  }
}
@media (min-width: 50em) {
  .section-cta.two-column {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .section-cta.two-column .cta-information {
    flex-basis: 48%;
  }
  .section-cta.two-column .cta-information .heading-secondary {
    padding: unset;
  }
  .section-cta.two-column .form-cta {
    flex-basis: 48%;
  }
  .section-cta.two-column .form-cta > * {
    margin-inline: unset;
  }
  .section-cta.two-column .form-cta .btn-form {
    width: min(50%, 12.5rem);
  }
  .section-cta.two-column .form-cta .input-email {
    width: min(80%, 60rem);
  }
}
@media (min-width: 60em) {
  .two-column {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .two-column > * {
    flex-basis: 48%;
  }
  .two-column div[class$=information] {
    padding-right: 0;
  }
  .two-column div[class$=_container] {
    order: 2;
    max-width: 50rem;
    padding-left: 0;
  }
}

/*# sourceMappingURL=style.css.map */
