@use "../abstracts/variable" as var;
@use '../abstracts/mixin' as mix;


body {
	font-family: var.$ff-body;
}


.nav-link {
	font-size: 0.875rem;
}

// *********************** Utility Classes ***********************//
.heading-primary {
	@include mix.bold-heading();
	font-size: var.$fz-headingPrimary_tablet;
	line-height: 1.5;
}

.heading-secondary {
	@include mix.bold-heading();
	font-size: var.$fz-headingSec_tablet;

}

.btn {
	font-family: var.$ff-main;
	text-align: center;
}


// *********************** section-hero ***********************//


.btn-form {
	font-size: 1rem;
	font-weight: var.$fw-bold;
}

// *********************** section-feature ***********************//


.btn-information {
	color: var.$c-accent_cyan;
	font-size: 0.9375rem;
}

.testimonial-text {
	font-size: 0.8125rem;
	line-height: 1.8;

	// quote left
	& i {
		font-size: 1.5rem;
	}
}

.customer-name {
	font-family: var.$ff-main;
	font-size: 0.875rem;
	font-weight: var.$fw-bold;
}

.customer-occupation {
	font-size: 0.75rem;
}

// *********************** section-cta ***********************//

.cta-information {
	text-align: center;
}

// *********************** responsive ***********************//


@media (min-width: 50em) {
	.heading-primary{
		font-size: var.$fz-headingPrimary_desktop;
	}

	.hero-text, .information-text {
		font-size: var.$fz-infoText_large;
		line-height: 1.7;
	}

	.heading-secondary {
		text-align: left;
	}

	.cta-information {
		text-align: left;
	}
}


@media(min-width: 60em) {

	.nav-link{
		font-size: var.$fz-navItems_large;
	}

	.heading-primary, .hero-text, .cta-text {
		text-align: left;
	}

	.heading-secondary {
		font-size: var.$fz-headingSec_desktop;
	}

	.cta-text{
		font-size: var.$fz-ctaText_large;
	}


}

@media(min-width: 71.25em){
	.testimonial-text {
		font-size: 1.125rem;

		& i {
			font-size: 2.3rem;
		}
	}

	.customer-name {
		font-size: 1rem;
	}

	.customer-occupation{
		font-size: 0.9375rem;
	}

	.btn-information {
		font-size: 1.125rem;
	}

	.footer_nav-link, .site-address_link {
		font-size: var.$fz-footerNavItems_large;
	}

}